<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/blog.css">


    <title>blog-posts | mCoder</title>

</head>

<body>

    <!-- navbar -->
    <%- include('./partials/navbar.ejs') %>

        <section class="hero">
            <div class="container">
                <h1 class="page-title">Latest Blog Posts</h1>
                <p class="page-subtitle">Insights, updates, and thoughts from my world</p>
            </div>
        </section>

        <section class="blog-posts">
            <div class="container">
                <div class="post-grid">
                    <article class="post-card">
                        <div class="post-image" style="background-image: url('blog-image1.jpg');"></div>
                        <div class="post-content">
                            <h2 class="post-title">Blog Post One</h2>
                            <p class="post-excerpt">A brief excerpt from the blog post. Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.</p>
                            <a href="/blog/post1" class="btn">Read More</a>
                        </div>
                    </article>

                    <article class="post-card">
                        <div class="post-image" style="background-image: url('blog-image2.jpg');"></div>
                        <div class="post-content">
                            <h2 class="post-title">Blog Post Two</h2>
                            <p class="post-excerpt">Another excerpt from a different blog post. Lorem ipsum dolor sit
                                amet, consectetur adipiscing elit.</p>
                            <a href="/blog/post2" class="btn">Read More</a>
                        </div>
                    </article>

                    <article class="post-card">
                        <div class="post-image" style="background-image: url('blog-image3.jpg');"></div>
                        <div class="post-content">
                            <h2 class="post-title">Blog Post Three</h2>
                            <p class="post-excerpt">A brief excerpt from yet another blog post. Lorem ipsum dolor sit
                                amet, consectetur adipiscing elit.</p>
                            <a href="/blog/post3" class="btn">Read More</a>
                        </div>
                    </article>
                </div>
            </div>
        </section>


        <!-- testimonial -->
        <%- include('./partials/testimonial.ejs')%>

            <!-- Scroll to top -->
            <%- include('./partials/scrollUp.ejs')%>

                <!-- footer -->
                <%- include('./partials/footer.ejs') %>
                    </div>

                    <!-- Call to Action -->
                    <%- include('./partials/callToAction.ejs') %>

                        <!-- Optional JavaScript; choose one of the two! -->
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                            crossorigin="anonymous"></script>
                        <script src="../../app.js"></script>
                        <script src="/scripts/main.js"></script>

</body>

</html>